<!DOCTYPE html>

<html>
    <head>
        <title>Semantic Practice</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

        <style>

            #layout{
                height: 100%;
                background-color: darkcyan;
            }

            .row{
                height: 25%;
                background-color: cornflowerblue;
            }

            #firstcolumn{
                height:100%;
                background-color: crimson;
            }




        </style>

    </head>

    <body>
        <div id="layout" class="ui two column centered grid">
            <div id="row" class="two column row">
                <div id="firstcolumn" class="ui column">
                    <div> uno </div>
                </div>
                <div class="ui column">
                    <div> dos </div>
                </div>
            </div>
            <div id="row" class="two column row">
                <div class="ui column">
                    <div> uno </div>
                </div>
                <div class="ui column">
                    <div> dos </div>
                </div>
            </div>
            <div id="row" class="two column row">
                <div class="ui column">
                    <div> uno </div>
                </div>
                <div class="ui column">
                    <div> dos </div>
                </div>
            </div>
            <div id="row" class="two column row">
                <div class="ui column">
                    <div> uno </div>
                </div>
                <div class="ui column">
                    <div"> dos </div>
                </div>
            </div>
            
        </div>




        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" ></script>
    </body>
</html>